* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 98px;
    margin-top: 0px;
 
}
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

.button {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    background-color: grey;
}

section {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: white;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: white;
}

.container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.container .ContactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    /* background: #095a55; */
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    background: rgb(240, 152, 166);
}

.container .ContactInfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.container .ContactInfo ul.info {
    position: relative;
    margin: 20px 0;
}

.container .ContactInfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .ContactInfo ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.container .ContactInfo ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
}

.container .ContactInfo ul.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.container .ContactInfo ul.sci {
    position: relative;
    display: flex;
}

.container .ContactInfo ul.sci li {
    list-style: none;
    margin-right: 15px;
}

.container .ContactInfo ul.sci li a {
    text-decoration: none;
}

.container .ContactInfo ul.sci li a i {
    color: #fff;
}

.container .Contactform {
    margin-top: 14px;
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 650px;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25)
}

.container .Contactform h2 {
    color: rgb(240, 152, 166);
    /* color: #0f3959; */
    font-size: 24px;
    font-weight: 500;
}

.container .Contactform .formbox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .Contactform .formbox .inputbox {
    position: relative;
    margin-bottom: 35px;
}

.container .Contactform .formbox .inputbox .w50 {
    width: 47%;
}

.container .Contactform .formbox .inputbox .w100 {
    width: 100%;
}

.container .Contactform .formbox .inputbox input,
.container .Contactform .formbox .inputbox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid red;
}

.container .Contactform .formbox .inputbox textarea {
    height: 120px;
}

.container .Contactform .formbox .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container .Contactform .formbox .inputbox input:focus~span,
.container .Contactform .formbox .inputbox input:valid~span,
.container .Contactform .formbox .inputbox textarea:focus~span,
.container .Contactform .formbox .inputbox textarea:valid~span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    /* color: #095a55; */
    font-weight: 500;
    color: rgb(240, 152, 166);
}

.container .Contactform .inputbox input[type="submit"] {
    position: relative;
    cursor: pointer;
    /* background: #095a55; */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 13px;
    width: 150px;
    background: rgb(240, 152, 166);
}

.container .Contactform .inputbox input[type="submit"]:hover {
    background: rgb(241, 60, 90) ;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
}